<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title> mFilm </title>
    <script type='text/javascript'  src='https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js'></script>
    <script type='text/javascript'  src='lib/jquery.min.js'></script>
    <script type='text/javascript' src='lib/owl.carousel.min.js'></script>

    <link rel='stylesheet' type='text/css' href='css/owl.carousel.min.css' />
    <link rel='stylesheet' type='text/css' href='css/bootstrap.css' />
    <link rel='stylesheet' type='text/css' href='css/owl.theme.css' />
    <link rel='stylesheet' type='text/css' href='css/style.css' />
    <link rel='stylesheet' type='text/css' href='font/font-awesome/css/font-awesome.min.css' />
    <link rel='stylesheet' type='text/css' href='font/pe-icon-7-stroke/css/pe-icon-7-stroke.css' />
  </head>

  <body>
    <main id='main'>

    </main>
    <script src='js/bundle.js'></script>   
  </body>
</html>
